<h1>Doggy Details</h1>
<h2><%= @pup.name  %> | ID: <%= @pup.h_id %></h2>
<p><img src="<%= @pup.photo_url %>" /></p>
<p><%= @pup.age %> Years Old</p>
<p><%= @pup.description %></p>

<p><a href="/">Go Back</a></p>